.navbar-toggler {
  float: right;
}

.navbar-nav .nav-item {
  padding: 0 20px;

  @media screen and (max-width: 992px){
    padding: 0 10px;
  }
}

.navbar-nav {

  @media screen and (max-width: 768px){
    text-align: right;
    clear: both;

  }
}





// Footer


.iasa-footer {
  background-color: black;
  color: white;
  padding: 20px;

  @media screen and (max-width: 768px){
    text-align: center;
  }
}


/*Tablet*/
@media screen and (max-width: 768px){
  .navbar-nav .nav-item {
    padding: 0;
  }
}




@media screen and (max-width: 544px){
  .navbar-toggleable-xs {
    clear: both;
  }
}
