.navbar-toggler {
  float: right;
}

.navbar-nav .nav-item {
  padding: 0 20px;

  @media screen and (max-width: 992px){
    padding: 0 5px;
  }
}

.navbar-nav {

  @media screen and (max-width: 768px){
    text-align: right;
    clear: both;

  }
}

.navbar-nav .active .nav-link::before, .navbar-nav .nav-item:hover .nav-link::before {

  @media screen and (min-width: 992px){
    content: '';
    width: 24px;
    height: 16px;
    background-image: url('../../../assets/img/icons/icon-jet.png');
    background-size: contain;
    position: absolute;
    top: 0;
    left: -24px;
  }

}








// Footer









.iasa-footer {
  
  background-color: black;
  color: white;
  padding: 20px;

  @media screen and (max-width: 768px){
    text-align: center;
  }
}


/*Tablet*/
@media screen and (max-width: 768px){
  .navbar-nav .nav-item {
    padding: 0;
  }
}




@media screen and (max-width: 544px){
  .navbar-toggleable-xs {
    clear: both;
  }
}
