<footer>
  <div class="container">
    <div class="row">

      <div class="col-sm-4">
        <h2>IASA Group LLC</h2>
        <p>1905 Production Road</br>
          Fort Wayne, Indiana 46808
        </p>
      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-xs">
            <h4>Cage Code</h4>
            <h2>7BM02</h2>
          </div>
          <div class="col-xs">
            <h4>DUNS #:</h4>
            <h2>96-754-5849</h2>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <h4>Phone</h4>
        <h2><a href="tel:260-481-1322">(260)481-1322</a></h2>
        <h4>Fax</h4>
        <h2>260-575-4700</h2>
      </div>
    </div>
  </div>
</footer>

<script src="{{ site.cdn.jquery }}" integrity="{{ site.cdn.jquery_hash }}" crossorigin="anonymous"></script>
<script src="{{ site.baseurl }}/dist/js/bootstrap.js"></script>
